* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 100% auto;
    height: 100% auto;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav .logo {
    display: flex;
    flex-direction: row;
}

nav .logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

nav .logo h3 {
    margin: 35px;
}

nav .menu {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

nav .menu button {
    margin-left: 15px;
}

button {
    width: 100px;
    height: 40px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(57, 192, 57);
}

button:hover {
    background-color: white;
    border: 1px solid black;
}

.main_view {
    background-color: aquamarine;
    /*background-image: url('images/image.jpeg');*/
    width: 100% auto;
    height: 450px;
    display: grid;
    place-content: center;
}

.main_view .change {
    display: grid;
    place-content: center;
}

.main_view .change h1,
h3 {
    color: black;
    margin-bottom: 15px;
    font-size: 50px;
}

.main_view .change h3 {
    font-size: 30px;
}

.login_img {
    width: 200px;
    height: 300px auto;
}

.service_text {
    display: grid;
    place-content: center;
}

.service_text h3 {
    color: black;
    font-size: 20px;
    margin-top: 15px;
}

.become_text {
    background-color: rgb(101, 209, 101);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.become_text h1 {
    font-size: 30px;
    margin-bottom: 15px;
}

.become_an_agent {
    display: flex;
    flex-direction: row;
}

.become_text h3 {
    font-size: 20px;
}

.become_text img {
    width: auto;
}

.get_connected {
    display: flex;
    flex-direction: row;
}


/*.container {
   
    width: 500px auto;
    height: auto;
    background-color: skyblue;
}*/

.container_form {
    display: flex;
    flex-direction: row;
    box-shadow: inset 0px 0px 5px grey;
    border-radius: 7px;
}

.container_form .login_img {
    background-color: aquamarine;
}

form {
    display: flex;
    flex-direction: column;
}

.form {
    margin: 20px;
}

input {
    width: 350px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: rgb(99, 211, 99);
    border-radius: 15px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.login_page {
    display: grid;
    place-content: center;
    margin-top: 50px;
}

.overview {
    display: flex;
    flex-direction: row;
}