* {
    margin: 0px;
    padding: 0px;
}

nav li {
    display: flex;
    align-items: center;
}

button {
    outline: none;
}

.divsht {
    width: 60%;
    margin: auto;
}

.divsht50 {
    width: 50%;
    padding: 50px;
    margin: auto;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.greenbtn {
    background-color: #8CC63F;
    color: white;
    border: 2px solid #8CC63F;
    transition: all ease .5s;
    /* box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.6); */
    box-shadow: -10px 14px 46px -10px rgba(0, 0, 0, 0.3);
}

.greenbtn:hover {
    background-color: transparent;
    color: grey;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1);
}

.greenbtnr {
    background-color: #8CC63F;
    color: white;
    border: 2px solid #8CC63F;
    transition: all ease .5s;
}

.greenbtnr:hover {
    background-color: transparent;
    color: black;
}

.purplebtnr {
    background-color: #662d91;
    color: white;
    border: 2px solid #662d91;
    transition: all ease .5s;
}

.purplebtnr:hover {
    background-color: transparent;
    color: black;
}

.purplebtn {
    background-color: #662d91;
    color: white;
    border: 2px solid #662d91;
    transition: all ease .5s;
    box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
}

.purplebtn:hover {
    background-color: transparent;
    color: black;
}

/***************THE SCROLLBAR STYLES*****************/

::-webkit-scrollbar {
    width: 9px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #eeeeee
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #662d91;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #662d91;
}

/***************THE SCROLLBAR STYLES*****************/

.btn {
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.ccbg1 {
    background-image: url('../images/oze.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    height: 100vh;
    display: flex;
    align-items: center;
}

.ccbg1>div {
    color: whitesmoke;
    /* padding: 0; */
}

.ccbg2 {
    padding: 100px 0px;
    background-color: honeydew;
}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.features>div {
    /* border: 1px solid black; */
    background-color: white;
}

.features>div p {
    color: grey;
    font-weight: 100;
    font-size: .9em
}

.ccbg3 {
    background-color: #eeeeee;
    padding: 100px 0px;
}

.ccbg4 {
    /* background-color: #eeeeee; */
    padding: 100px 0px;
}

.ccbg4>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

/****LOGIN STYLES****/

.loginccbg1 {
    height: 100vh;
    display: flex;
    align-items: center;
}

.loginccbg1>div {
    background: #fefefe;
    border-radius: 10px;
}

.loginccbg1>div>div {
    display: flex;
    justify-content: space-between;
}

.loginccbg1 input {
    border-radius: 10px;
}

.loginccbg1 input:focus {
    outline-style: none;
}

.loginccbg1 button {
    border-radius: 10px !important;
    background-color: #662d91;
    border: 2px solid #662d91;
    color: whitesmoke
}

.loginccbg1 button:hover {
    background-color: transparent;
    color: black;
}

/****LOGIN STYLES****/

/****DOWNLOAD STYLES****/

.downloadccbg1 {
    background-color: #eeeeee;
    padding-top: 100px;
    padding-bottom: 100px;
}

/****DOWNLOAD STYLES****/

/****BUSINESS STYLES****/

.bussinessccbg1 {
    background-image: url('../images/business.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    display: flex;
    align-items: center;
}

/****BUSINESS STYLES****/

/****FEATURES STYLES****/

.featuresccbg2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.featuresccbg2>div {
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
}

.featuresccbg2>div:first-child {
    background-color: #f1e2e2;
}

.featuresccbg2>div:nth-child(2) {
    background-color: #d8def7;
}

.featuresccbg2>div:nth-child(3) {
    background-color: #e3f7d8;
    padding: 50px 50px;
}

.featuresccbg2>div:nth-child(4) {
    background-color: #f7e6d8;
    padding-bottom: 0px;
}

.featuresccbg2>div:nth-child(5) {
    background-color: #d8def7;
    padding-top: 0px;
}

.featuresccbg2>div:nth-child(6) {
    background-color: #ddf7d8;
    padding-bottom: 0px;
}

/****FEATURES STYLES****/

.footer1 {
    background-color: #662d91;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer1 ul li {
    list-style: none;
}

.footer1 ul li a {
    text-decoration: none;
    color: whitesmoke;
}

.footer1 ul li a:hover {
    text-decoration: none;
    color: grey;
}

.footer1 p {
    color: white;
    font-weight: bold;
}

.footer2 {
    background-color: rgb(54, 6, 78);
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 0px;
}

/*##Device = Laptops, Desktops##Screen = B/w 1025px to 1280px*/

@media (min-width: 1281px) {}

/*##Device = Laptops, Desktops##Screen = B/w 1025px to 1280px*/

@media (min-width: 1025px) and (max-width: 1280px) {}

/*##Device = Tablets, Ipads (portrait)##Screen = B/w 768px to 1024px*/

@media (min-width: 768px) and (max-width: 1024px) {
    /**HOME  PAGE**/
    .ccbg1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../images/oze.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 300px;
        padding-bottom: 50px;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .ccbg3 {
        text-align: center;
    }
    /**HOME  PAGE**/
    /***LOGIN PAGE**/
    .divsht50 {
        width: 95%;
        padding: 20px;
        margin: auto;
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
    }
    .loginccbg1 {
        height: 100%;
        padding: 150px 30px;
        display: flex;
        align-items: center;
    }
    /***LOGIN PAGE**/
}

/*##Device = Tablets, Ipads (landscape)##Screen = B/w 768px to 1024px*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    /**HOME  PAGE**/
    .ccbg1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../images/oze.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 300px;
        padding-bottom: 50px;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .ccbg3 {
        text-align: center;
    }
    /**HOME  PAGE**/
    /***LOGIN PAGE**/
    .divsht50 {
        width: 95%;
        padding: 20px;
        margin: auto;
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
    }
    .loginccbg1 {
        height: 100%;
        padding: 50px 0px;
        display: flex;
        align-items: center;
    }
    /***LOGIN PAGE**/
}

/*##Device = Low Resolution Tablets, Mobiles (Landscape) ##Screen = B/w 481px to 767px*/

@media (min-width: 481px) and (max-width: 767px) {
    /**HOME  PAGE**/
    .ccbg1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../images/oze.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 300px;
        padding-bottom: 50px;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .ccbg3 {
        text-align: center;
    }
    .ccbg3 img {
        margin-top: 30px;
    }
    /**HOME  PAGE**/
    /***FEATURES PAGE**/
    .featuresccbg2 {
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    /***FEATURES PAGE**/
    /***LOGIN PAGE**/
    .divsht50 {
        width: 95%;
        padding: 20px;
        margin: auto;
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
    }
    .loginccbg1 {
        height: 100%;
        padding: 50px 0px;
        display: flex;
        align-items: center;
    }
    /***LOGIN PAGE**/
}

/*##Device = Most of the Smartphones Mobiles (Portrait) ##Screen = B/w 320px to 479px*/

@media (min-width: 320px) and (max-width: 480px) {
    /**HOME  PAGE**/
    .ccbg1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)), url('../images/oze.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        align-items: center;
        padding-top: 300px;
        padding-bottom: 50px;
    }
    .features {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .ccbg3 {
        text-align: center;
    }
    .ccbg3 img {
        margin-top: 30px;
    }
    /**HOME  PAGE**/
    /**DOWNLOAD  PAGE**/
    .downloadccbg1 img {
        width: 100%;
    }
    /**DOWNLOAD  PAGE**/
    /***FEATURES PAGE**/
    .featuresccbg2 {
        padding-top: 10px;
        padding-bottom: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    /***FEATURES PAGE**/
    /***LOGIN PAGE**/
    .divsht50 {
        width: 95%;
        padding: 20px;
        margin: auto;
        box-shadow: 0px 20px 30px 0px rgba(0, 0, 0, 0.1), 0px 4px 4px 0px rgba(0, 0, 0, 0.15), 0px 2px 2px 0px rgba(0, 0, 0, 0.6);
    }
    .loginccbg1 {
        height: 100%;
        padding: 50px 0px;
        display: flex;
        align-items: center;
    }
    /***LOGIN PAGE**/
    /****BUSINESS STYLES****/
    .bussinessccbg1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/business.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        height: 100%;
        padding: 150px 0px 50px 0px;
        color: whitesmoke;
        text-align: center;
    }
    /****BUSINESS STYLES****/
    .fs1 {
        font-size: 1.6em;
    }
    .fs2 {
        font-size: 1.3em;
    }
    .fs3 {
        font-size: 1em;
    }
    .fs4 {
        font-size: 0.83em;
    }
    .fs5 {
        font-size: 0.67em;
    }
    .fs6 {
        font-size: 0.5em;
    }
    .fsp {
        font-size: 1em;
    }
}

/** MEDIA ENDS HERE***/